<app-navbar></app-navbar>

<div>
    <mat-card>
        <mat-card-header>
            <mat-card-title>Creator Information</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-list>
                <mat-list-item>
                    <mat-icon mat-list-icon>person</mat-icon>
                    <h3 mat-line>Creator: Todor Penchev</h3>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon mat-list-icon>email</mat-icon>
                    <h3 mat-line><a href="mailto:todor.r.penchev@gmail.com">Email me</a></h3>
                </mat-list-item>
                <mat-list-item>
                    <mat-icon mat-list-icon>android</mat-icon>
                    <h3 mat-line><a href=" https://github.com/Toshko777">Github</a></h3>

                </mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>
</div>