<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button routerLink="/dashboard" class="nav-link">
            <mat-icon>home</mat-icon>
            <span>Home</span>
        </button>

        <button mat-icon-button routerLink="/users" class="nav-link">
            <mat-icon>supervisor_account</mat-icon>
            <span>Users</span>
        </button>

        <button mat-icon-button routerLink="/profile" class="nav-link">
            <mat-icon>account_circle</mat-icon>
            <span>Profile</span>
        </button>

        <span class="fill-remaining-space"></span>

        <button mat-icon-button (click)="logout()" class="nav-link">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
        </button>
    </mat-toolbar-row>
</mat-toolbar>