<app-navbar></app-navbar>

<mat-card>
    <mat-card-header>
        <mat-card-title>User Information</mat-card-title>
    </mat-card-header>
    <mat-card-content *ngIf="user">
        <mat-list>
            <mat-list-item>
                <mat-icon mat-list-icon>person</mat-icon>
                <h3 mat-line>Name: {{ user.firstName }} {{ user.lastName }}</h3>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>account_circle</mat-icon>
                <h3 mat-line>Username: {{ user.username }}</h3>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>email</mat-icon>
                <h3 mat-line>Email: {{ user.email }}</h3>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>calendar_today</mat-icon>
                <h3 mat-line>Created: {{ user.created | date }}</h3>
            </mat-list-item>
        </mat-list>

        <mat-divider></mat-divider>

        <h3>Challenges:</h3>
        <mat-list>
            <mat-list-item>
                <mat-icon mat-list-icon>check_circle</mat-icon>
                <h3 mat-line>Finished: {{ finished }}</h3>
            </mat-list-item>
            <mat-list-item>
                <mat-icon mat-list-icon>history</mat-icon>
                <h3 mat-line>In progress: {{ inProgress }}</h3>
            </mat-list-item>
        </mat-list>

        <mat-divider></mat-divider>

        <h3>Badges:</h3>
        <mat-chip-list>
            <mat-chip *ngFor="let badge of user.badges" color="primary">
                <ng-container [ngSwitch]="badge">
                    <mat-icon *ngSwitchCase="3">stars</mat-icon>
                    <mat-icon *ngSwitchCase="2">star_half</mat-icon>
                    <mat-icon *ngSwitchCase="1">star_border</mat-icon>
                    <mat-icon *ngSwitchDefault>star_outline</mat-icon>
                </ng-container>
            </mat-chip>
        </mat-chip-list>

        <!-- if there is problems with fetching the user informaton -> show this alternatives loading or error -->
        <mat-card-content *ngIf="!user">
            <p>Loading user information...</p>
        </mat-card-content>
        <mat-card-content *ngIf="error">
            <p>An error occurred: {{ error }}</p>
        </mat-card-content>



    </mat-card-content>
</mat-card>