button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}

mat-form-field {
    width: 100%;
    margin-bottom: 20px;
}

.container {
    margin-top: 2cm;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}