button {
    margin-top: 20px;
}

mat-form-field {
    width: 100%;
    margin-bottom: 20px;
}

.container {
    margin-top: 2cm;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}